node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/9.0.0/checksums/sha1-checksums.bin
/.gradle/9.0.0/fileHashes/resourceHashesCache.bin
